.list {
  text-align: left;
}

.subheading {
  padding-left: 50px;
  padding-top: 10px;
}

.addform {
  padding-left: 50px;
  padding-top: 10px;
}

.addform input {
  padding-right: 10px;
}

ul.todolist  {
    list-style-type: none
}

span.logout {
    float: right;
}

span.logout a {
    color: white;
}

.root {
    flex-grow: 1
}

.flex {
    flex-grow: 1
}

.menuButton {
    marginLeft: -12;
    marginRight: 20
}

.form_holder {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
